#wrapper{
   display: grid;
   grid-gap: 10px;
   grid-template-rows: 90px 375px 90px;
   grid-template-areas: 
        ". . h h h h h h . ."
        ". s s s . c c c c ."
        ". s s s . c c c c .";
}

#header {
    display: grid;
    grid-area: h;
}
#mainHeader {
    display: grid;
    text-align: center;
    border-radius: 20px;
    background: #909090;
}

#iconsMainSidebar, img p {
    display: grid;
    height: 60px;
    width: 64px;
    margin-left: 21px;
    margin-top: 7px;
    
    position: absolute;
    grid-template-areas:
        "h01 h1"
        "h02 h2"
        "h03 h3"
        "h04 h4"
        "h05 h5";
   
}

#h01, .h1 {
    display: grid;
    grid-area: h01 h1;
}
#h02 .h2{
    display: grid;
    grid-area: h02 h2;
}
#h03 .h3{
    display: grid;
    grid-area: h03 h3;
}
#h04 .h4{
    display: grid;
    grid-area: h04 h4;
}
#h05 .h5{
    display: grid;
    grid-area: h05 h5;
}

p {
    cursor: pointer;
    margin-left: 15px;
    margin-top: 34px;
    font-size: 28px;
    color: aliceblue;
}

#sidebar {
    display: grid;
    grid-area: s;
}
#mainSidebar {
    display: grid;
    border-radius: 20px;
    background: #909090;
}

#content {
    display: grid;
    grid-area: c;
}
#mainContent {
    display: grid;
    margin-left: 0px;
    border-radius: 20px;
    background: #CFCFCF;
    grid-template-rows: 145px;
    grid-template-areas: 
        "h1 h2 h3"
        "h4 h5 h6";
}

#iconsImgContent img {
    display: grid;
    position: absolute;
    margin-left: 22px;
    margin-top: 60px;
    height: 108px;
}

#h1 {
   display: grid;
   grid-area: h1; 
}
#h2 {
    display: grid;
    grid-area: h2;
}
#h3 {
    display: grid;
    grid-area: h3; 
}
#h4 {
    display: grid;
    grid-area: h4;
}
#h5 {
    display: grid;
    grid-area: h5; 
}
#h6 {
     display: grid;
     grid-area: h6;
}

#icoPlus, #plusIcons {
    display: grid;
    cursor: pointer;
    position: absolute;
    height: 56px;
}
#icoMinus, #minusIcons {
    display: grid;
    cursor: pointer;
    position: absolute;
    margin-left: 22px;
    height: 56px;
}

#аvatar {
    display: grid;
    cursor: pointer;
    position: absolute;
    font-size: 24px;
    margin-left: 23%;
    margin-top: 11px;
    color: aliceblue;
}
  

